.wrapper
  .header
    = form_tag(wether_show_path, method: :get, class:'form_region') do
      = label_tag(:record_point, text='地域')
      = select_tag(:record_point, options_from_collection_for_select(@regions,:alfabet_record_point,:record_point))
      = submit_tag("Search",{ id: 'serch_region' })
    %input.seach_field
  .wether
    .wetherinfos
      .info
        %p
    .wetherchart
      .chart
        %canvas#chart
        -# = line_chart @chart_data,colors: ["#b00"],defer: true 
  .messages
    .message