.wrapper
  .header
    = form_tag(wether_show_path, method: :get, class:'form_region') do
      = label_tag(:record_point, text='地域')
      = select_tag(:record_point, options_from_collection_for_select(@regions,:alfabet_record_point,:record_point))
      = submit_tag("Search",{ id: 'serch_region' })
  .wether-box
    .wetherinfo
      .upper-side
        .upper-side__header
          %h3
            今の天気
        .upper-side__left
          .imagebox
            %image#wether-icon
          %p.wether
        .upper-side__right
          .temprature-box
            %p 
              気温：
              %span#temprature 
              ℃
          .precipitation-box
            %p 
              湿度：
              %span#precipitation 
              ％
      .under-side
        %table(border="1")
          %tr.tr_date
            %td 10/10
            %td 10/11
            %td 10/12
            %td 10/13
            %td 10/14
          %tr.tr_wether
            %td 図 
            %td 図
            %td 図
            %td 図
            %td 図
          %tr.tr_temprature
            %td 15 ℃
            %td 15 ℃
            %td 15 ℃
            %td 15 ℃
            %td 15 ℃
          %tr.tr_precipitation
            %td 70 %
            %td 70 %
            %td 70 %
            %td 70 %
            %td 70 %
    .wetherchart
      .chart
        %canvas#chart
  