.wrapper
  %header.header
    %p.subtitle
      weather informations for support your life and business
    %h1.title
      Wether App
    .serch-region 
      = form_tag(wether_show_path, method: :get, class:'form_region') do
        = label_tag(:record_point, text='地域')
        = select_tag(:record_point, options_from_collection_for_select(@regions,:alfabet_record_point,:record_point))
  .wether-box
    .wether-top

    .wether-info
      .upper-side
        .upper-side__header
          %h3
            今の天気
        .upper-side__left
          .imagebox
            %image#wether-icon
          %p.wether
            晴れ
        .upper-side__right
          .temprature-box
            %p 
              気温：
              %span#temprature 
              ℃
          .precipitation-box
            %p 
              湿度：
              %span#precipitation 
              ％
      .under-side
        ３時間ごとの天気
        .teble_box
    .wetherchart
      .chart
        %canvas#chart
  