.wrapper
  .header
    %form(action="#")
      %input.seach_field(type="text")
      %input.search_button(type="submit")
  .wether
    .wetherinfos
      .info
        %p
    .wetherchart
      .chart
        %img(src="#" alt="#")
  .messages
    .message