*{
  box-sizing: border-box;
}

@mixin simpleshadow {
  margin: 1em auto;
  padding: 1em;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 1px 1px 2px #ccc;
}

.header{
  height:100px;
  width: 95%;
  display: flex;
  @include simpleshadow;
}
.form_region{
  line-height:50px;
  height: 50px;
  label{
    font-size: 25px;
  }
  select{
    height:100%;
    font-size: 20px;
  }
  #serch_region{
    background: yellow;
    height:100%;
  }
}

.wether{
  height:calc(100vh - 100px - 200px);
  width: 95%;
  @include simpleshadow;
  display: flex;
}
.wetherinfos{
  width: 40%;
  @include simpleshadow;
}

.wetherchart{
  width: 60%;
  @include simpleshadow;
}



.messages{
  height:200px;
  width: 95%;
  @include simpleshadow;
}
