*{
  box-sizing: border-box;
}

body{
  text-align: center;
}


.header{
  height:300px;
  background-image: url('/images/hokkaido_sky.jpg');
  padding-top:20px;
  .subtitle{
  }
  .title{
    margin: 50px;
    font-size: 4.5rem;
  }
  select{
    font-size: 20px;
  }
}

.wether-box{
  height:calc(100vh - 300px);
  padding-top:20px;
  width: 95%;
  margin: 1em auto;
  display: flex;
}

.wether-info{
  width: 40%;
}

.upper-side{
  height: 40%;
  margin-bottom: 20px;
  &__header{
    width: 100%;
    height:50px;
    h3{
      font-size: 20px;
      margin-bottom:20px;
    }
  }
  &__left{
    float:left;
    width: 50%;
    .imagebox {
      margin:0 auto;
      height: 100px;
      width: 100px;
      #wether-icon{
        height: 100%;
        width: 100%;
      }
    }
    p{
      margin-top:10px;
      width: 100%;
      text-align: center;
      font-size: 20px;
    }
  }
  &__right{
    float: right;
    width: 50%;
    padding:20px;
    p{
      margin-bottom:20px;
    }
    .temprature-box,.precipitation-box{
      display: flex;
      #temprature,#precipitation{
        font-weight: bold;
        font-size: 35px;
        vertical-align: text-bottom;
      }
    }
  }
}

.under-side{
  width:100%;
  .teble_box{
    margin-top: 10px;
  }
  table{
    border-collapse: collapse;
    width: 100%;
    td{
      text-align:center;
      vertical-align:middle;
      border:1px solid #666;
      padding:10px;
      height: 50px;
      width:16%;
    }
  }
}

.wetherchart{
  width: 60%;
}


